<!DOCTYPE html>
<head>
	<title>Alan's Item Catalog</title>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Lato:100,200,300,400" rel="stylesheet">
	<link href="{{ url_for('static', filename='style.css') }}"  rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <h4 class="logo">Alan's Catalog</h4>
	    <a class="new" href="{{url_for('All_catalog')}}">All Catagory</a>
        <a class="new" href="{{url_for('New_catalog')}}">Add new catagory</a>
	</header>

	{% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
        <p class="flash">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}


    <div class="catagories top">
    <div class="latest_items"></div>
	{% for i in catalog %}
	<div class="catagory">
	    <h1 class="title">{{ i['name'] }}</h1>
	    <a href="{{url_for('New_item', catalog_id = i['id'])}}">Add New item</a>
	    <br/>
	    <br/>
	    <a href="{{url_for('Edit_catalog', catalog_id = i['id'])}}">edit</a>
	    <a href="{{url_for('Delete_catalog', catalog_id = i['id'])}}">delete</a>
	    <br/>
	    <br/>
	  	{% for j in i['items'] %}
	    <div class="items">
	        <a href="{{url_for('Items', catalog_id = i['id'], item_id=j.Id)}}"><h3 class="item_name">
	        {{ j.name }}</h3></a>	    
	        <a class="button" href="{{url_for('Edit_item', catalog_id = i['id'], item_id=j.Id)}}">edit</a>
	        <a class="button" href="{{url_for('Delete_item', catalog_id = i['id'], item_id=j.Id)}}">delete</a>
	    </div>

	    <br/>
	    {% endfor %}
	    <br/>
	</div>
	{% endfor %}
	<br/>
	</div>

</body>