<!DOCTYPE html>
<head>
	<title>Alan's Item Catalog</title>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Lato:100,200,300,400" rel="stylesheet">
	<link href="{{ url_for('static', filename='style.css') }}"  rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <h4 class="logo">Alan's Catalog</h4>
	    <a class="new" href="{{url_for('All_catalog')}}">All Catagory</a>
        <a class="new" href="{{url_for('New_catalog')}}">Add new catagory</a>
        <div class="right">
            <img class="profile" src="{{status['profile']}}">
            <p class="username"> USER: {{status['username']}}</p>
            {% if status['username'] == 'guest' %}
            <a class="username" href="{{ url_for('showLogin') }}">login</a>
            {% else %}
            <a class="username" href="{{ url_for('gdisconnect') }}">logout</a>
            {% endif %}
        </div>
	</header>

	{% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
        <p class="flash">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}


    <div class="catagories top">
    {% if latest: %}
    <div class="latest_items">
    {% for l in latest: %}
    	<div class="center">
            <p><a href="{{url_for('Items', catalog_id = l.catagory_id, item_id=l.Id)}}">{{l.name}}</a></p>
            <a href="{{url_for('Items', catalog_id = l.catagory_id, item_id=l.Id)}}"><img class="item_img demo" src="{{l.url_link}}"></a>
        </div>
    {% endfor %}
    </div>
    {% endif %}

	{% for i in catalog %}
	<div class="catagory">
	    <h1 class="title">{{ i['name'] }}</h1>

	    <a href="{{url_for('Edit_catalog', catalog_id = i['id'])}}">edit</a>
	    <a href="{{url_for('Delete_catalog', catalog_id = i['id'])}}">delete</a>
	    <br/>
	  	{% for j in i['items'] %}
	    <div class="items">
	        <a href="{{url_for('Items', catalog_id = i['id'], item_id=j.Id)}}"><h3 class="item_name">
	        {{ j.name }}</h3></a>	    
	        <a class="button" href="{{url_for('Edit_item', catalog_id = i['id'], item_id=j.Id)}}">edit</a>
	        <a class="button" href="{{url_for('Delete_item', catalog_id = i['id'], item_id=j.Id)}}">delete</a>
	    </div>

	    <br/>
	    {% endfor %}
	    {% if not i['items'] %}
	    <div class="title">
	        <h5>The catagory is empty. Let's add some new items!</h5>
	    </div>
	    {% endif %}
	    <a href="{{url_for('New_item', catalog_id = i['id'])}}">Add New item</a>
	    <br/>
	    <br/>

	</div>
	{% endfor %}
	</div>

</body>