<!DOCTYPE html>
<head>
	<title>Alan's Item Catalog</title>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Lato:100,200,300,400" rel="stylesheet">
	<link href="{{ url_for('static', filename='style.css') }}"  rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <h4 class="logo">Alan's Catalog</h4>
        <a class="new" href="{{url_for('All_catalog')}}">All Catagory</a>
        <a class="new" href="{{url_for('New_catalog')}}">Add new catagory</a>
	</header>    
	
	{% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
        <p class="flash">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="top delete center">
	    <h2 class="title">Are you sure to delete the catagory {{catagory.name}} and its items ?</h2>

	    <form action="{{url_for('Delete_catalog',catalog_id=catagory.Id)}}" method = 'POST'>
	        <input type='submit' value='Yes'>
	    </form>
    	<form action="{{url_for('All_catalog')}}" method = 'GET'>
	        <input type='submit' value='No'>
    	</form>
	</div>
</body>