<!DOCTYPE html>
<head>
	<title>Alan's Item Catalog</title>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Lato:100,200,300,400" rel="stylesheet">
	<link href="{{ url_for('static', filename='style.css') }}"  rel="stylesheet" type="text/css">
</head>
<body>
	<h2>Edit Catagory</h2>
	<form action="{{url_for('Edit_catalog',catalog_id=catagory.Id)}}" method = 'POST'>
	    <p>Name:</p>
	    <input type='text' size='30' name='name' value ='{{catagory.name}}'>
	    <input type='submit' value='Modify'>
	</form>
</body>